.main-wrapper {
  .ps .ps__rail {
    &-x,
    &-y {
      border-radius: 6px;
      opacity: 1;
      background-color: rgba(map-get($colors, 'grey-medium'), 0.3);
    }
    &-x {
      @include animate(height, 0.2s);
      height: 8px;
      &:hover,
      &:focus,
      &.ps--clicking {
        height: 12px;
      }
      .ps__thumb-x {
        bottom: 0;
        height: 100%;
        background-color: map-get($colors, 'blue-medium');
      }
    }
    &-y {
      @include animate(width, 0.2s);
      width: 8px;
      &:hover,
      &:focus,
      &.ps--clicking {
        width: 12px;
      }
      .ps__thumb-y {
        right: 0;
        width: 100%;
        background-color: map-get($colors, 'blue-medium');
      }
    }
  }
}
