.inbox-block {
  grid-area: inbox;
  background-color: map-get($colors, 'midnight-medium');
  box-shadow: 0px 3px 40px 0 rgba(23, 24, 32, 0.2);
  &__head {
    background-color: map-get($colors, 'midnight-light');
    padding: 30px;
    @include media('<=tablet') {
      padding: 15px;
    }
  }
  &__title {
    font: 700 24px map-get($base, 'base-font-family');
    letter-spacing: 0.5px;
    text-align: center;
    color: map-get($colors, 'white');
    margin: 0;
    @include media('<=tablet') {
      font-size: 18px;
    }
  }
  &__number {
    color: map-get($colors, 'blue-medium');
  }
  &__wrapper {
    position: relative;
    height: calc(100% - 90px);
    overflow-y: scroll;
    @include media('<=tablet') {
      height: calc(100% - 52px);
    }
  }
}
.message-element {
  position: relative;
  display: flex;
  align-items: center;
  border-bottom: 1px solid map-get($colors, 'grey-dark');
  padding: 24px 20px 20px;
  @include media('<=tablet') {
    padding: 15px;
  }
  @include media('<=phone') {
    flex-direction: column;
  }
  &__photo-holder {
    flex-shrink: 0;
    overflow: hidden;
    width: 42px;
    height: 42px;
    display: flex;
    border-radius: 50%;
    margin-right: 20px;
    @include media('<=phone') {
      margin: 0 0 10px;
    }
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
  &__content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    @include media('<=phone') {
      flex-direction: column;
    }
  }
  &__sender-name {
    font-size: 16px;
    font-weight: 700;
    letter-spacing: 0.32px;
    color: map-get($colors, 'white');
    margin: 0 0 5px;
  }
  &__date {
    letter-spacing: 0.28px;
    color: map-get($colors, 'grey-light');
    margin: 0 0 5px;
  }
  &__text {
    width: 100%;
    line-height: 2;
    letter-spacing: 0.28px;
    color: map-get($colors, 'grey-light');
    @include media('<=phone') {
      line-height: 1.4;
    }
  }

  &_new {
    .message-element__date {
      color: map-get($colors, 'blue-medium');
    }
  }
}
