.main-wrapper {
  position: relative;
  height: 100vh;
  background-color: map-get($colors, 'midnight-dark');
  padding-left: 103px;
  padding-top: 96px;
  @include media('<=ultrawidescreen') {
    height: auto;
  }
  @include media('<=desktop') {
    padding-left: 0;
    padding-top: 60px;
  }
  @include media('<=phone') {
    padding-top: 100px;
  }
}
